<footer class="root">
    <div class="inner">
        <p class="pull-left">version: 0.0.1</p>
        <p class="pull-right">powerd by cornelius technologies. all rights reserved.</p>
    </div>
    
</footer>