<header class="root">
    
    <div class="inner">
        
        
        <div class="logo text-center">
            <b class="" style="display: inline-block;margin-top : 8px;color : #FFF">STRONG DEVELOPMENT</b>
        </div>
        
        <nav class="main-nav">
            <div class="nav-wrapper">
                
                <ul id="MainActions">
                    
                    <li>
                        <a href=""><i class="fa fa-home"></i> Home</a>
                    </li>
                    
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown" ><i class="fa fa-file"></i> Articles <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="{{ url('article-list') }}"> List articles</a></li>
                            <li><a href="{{ url('article-create') }}">New article</a></li>
                            {#<li><a href="#">JavaScript</a></li>#}
                          </ul>
                    </li>
                    
                    <li>
                        <a href=""><i class="fa fa-database"></i> Database</a>
                    </li>
                    
                    <li>
                        <a href=""><i class="fa fa-stack-exchange"></i> SEO</a>
                    </li>
                    
                    <li>
                        <a href=""><i class="fa fa-users"></i> Users</a>
                    </li>
                    
                    <li>
                        <a href=""><i class="fa fa-gear"></i> Settings</a>
                    </li>
                    
                </ul>
                
            </div>
        </nav>
        
    </div>
    
</header>